---
interface Props {
  pageRange?: string;
}

const { pageRange } = Astro.props;
---

<div
  class="top-center"
  data-page-range={pageRange}
>
  <slot />
</div>

<style>
  .top-center {
    grid-area: center;
    justify-self: center;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
  }
</style>
