:root {
  --color-primary: mediumslateblue;
}

@layer reset,styling,utils;
@layer reset {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-inline: 0;
    margin-block: 0;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
}
@layer styling {
  body {
    position: relative;
  }
}
@layer utils {
  .for-prview-only {
    :has(&) {
      background-color: rgba(61, 61, 61, 1);
    }
    margin-inline: auto;
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(242, 242, 242);
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    @media print {
      :has(&) {
        background-color: white !important;
      }
      background-color: white !important;
      box-shadow: none !important;
    }
  }

  .print_button {
    --_dur: 150ms cubic-bezier(0, 0, 0.09, 0.96);
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: var(--color-primary);
    border: none;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    width: 2.5rem;
    border-radius: 50%;
    transition: scale var(--_dur);
    @media print {
      display: none;
    }
    &:hover,
    &:active {
      scale: 0.9;
      background-color: hsl(from var(--color-primary) h s calc(l - 5));
    }
    & svg {
      aspect-ratio: 1/1;
      width: 1.2rem;
      color: white;
    }
  }
}
