@import url(https://fonts.bunny.net/css?family=inter:400,500,600,700|kantumruy-pro:400,500,600,700);

:root {
  --color-primary: mediumslateblue;
  --font-family: Inter, "Kantumruy Pro", system-ui, sans-serif;
}

@layer reset;
@layer reset {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family);
    font-weight: 700;
    margin-inline: 0;
    margin-block: 0;
  }
  html {
    font-family: var(--font-family);
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
}
